body{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

label{
    color:black;
}

#text{
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    width: 75%;
    color: black;
}

#comments{
    outline: none;
    font-size: 14px;
    color: black;
    width: 100%;
}